html,body{
  padding: 0;
  margin: 0;

}

body{
  background-color: #2b2b2b;


}

.navigation{
  background-color: #2b2b2b;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  height: 50px;


  animation-name: navegacao;
  animation-duration: 4s;
}
.navigation ul {
  margin-top: 0px;
  list-style:none;
  padding-left: 0px;
  text-align: right;
  height: 50px;


}
.navigation li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  font-size: 18px

}

.navigation ul a {
  color: white;
  text-decoration: none;

}

.navigation a:hover {
  color: #B22222;

}

.navigation li.threeline-icon{
  display: none;
}

.navigation li.threeline-icon: hover{
  color: #B22222;
  cursor:pointer;
}

.capa{
  color: #fff;
}

.capa span {
  color: 	#B22222;
  display: block;

}

.capa div {
  display: inline-block;
  height: 450px;
}

.profile-pic{
  width: 40%;
  text-align: center;

  animation-name: profile-capa;
  animation-duration: 5s;

}

.profile-pic img{
    width: 350px;
    border-radius: 350px;
    margin-top: 180px;


}

.profile-title {
  
  width:59%;

  animation-name: titulo-capa;
  animation-duration: 5s;
}

.profile-title h1{
  font-size: 58px;
  margin-top: 250px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 54px;
}
.profile-title h2{
  font-size: 26px;
  font-family: 'Press Start 2P', cursive;
  margin-top: -20px;


}
.main {
  padding-top: 80px;
  padding-right: 180px;
  padding-bottom: 80px;
  padding-left: 100px;

  animation-name: conteudo;
  animation-duration: 5s;

}


.main h1{
  color: white;
  font-weight: normal;
}

.main h2 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 40px;
}

.main h3 {
  color: #B22222;
  font-size: 12px;
  text-transform: uppercase;
}

.main p {
  color: white ;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  text-align: justify;
}

.caminho {
  list-style: none;
  padding-left: 0;
  color: grey;
}

.caminho li {
  display: inline-block;
}

.caminho a {
  color: grey;
}

.miniatura {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;

}

.miniatura a {
  text-decoration: none;
}

.blackbox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  padding-top: 120px;
  transition: 1s;
}

.blackbox:hover{
  opacity: 0.8;
  transition: 1s;
}

.blackbox-text{
  text-align: center;
}
.blackbox-text h1 {
  font-size: 16px;
  color: #B22222;
  text-transform: uppercase;
  margin-top: 0;
}

.blackbox-text h2 {
  text-transform: none;
  font-weight: 100;
  margin-top: 0;

}

.foto-trabalhos {
  text-align: center;
  width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.back-link{
    color: #B22222;
    text-decoration: none;
}

@keyframes profile-capa {
    0% {opacity: 0; transform: translate(0px,20px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes titulo-capa {
    0% {opacity: 0; transform: translate(0px,-20px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}
@keyframes conteudo {
    0% {opacity: 0; transform: translate(-20px,20px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes navegacao {
    0% {opacity:0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 1000px){
  .navigation li {
    display: none;
  }

  .navigation li.threeline-icon{
    display: inline-block;
  }

  .capa div {
    display: inline-block;
    height: auto;
  }

  .profile-pic {
    width: 100%;
  }

  .profile-pic img {
    margin-top: 0;
    max-width: 80%;
  }

  .profile-title{
    text-align: center;
    width: 100%;
  }
  .profile-title h1{
    margin-top: 30px;
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .profile-title h2{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

.main {
  padding: 10px 5% 40px 5%;

}
.main a {
  overflow-wrap:break-word;
  word-wrap: break-word;
}
.main p {
  text-align: center;
  line-height: 30px;

}

.caminho li {
  font-size: 12px;
}

.miniatura {
  max-width: 100%;
  background-size: auto 100%;
}

.blackbox{
  opacity: 0.8;
}
.menujs{
  height: auto;
}
.menujs ul{
  height: auto;
  text-align: center;
  padding-right: 15%;
  padding-left: 15%;
}
.menujs li {
  display: block;
  border-bottom: solid grey 1px;
  width: 100%;
  padding: 0;
}
.foto-trabalhos{
  width: 100%;
}

}

.experience, .education, .project, .skill-item {
            margin-bottom: 15px;
            padding-left: 10px;
            border-left: 3px solid #ccc;
        }
        .experience p, .education p {
            margin: 0;
            font-size: 0.9em;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
            padding: 0;
        }
        ul.skills {
            list-style-type: none;
            padding: 0;
        }
        .skills li {
            margin-bottom: 8px;
            font-weight: bold;
        }
        .languages li {
            font-weight: normal;
        }
